GITLAB_HOST=0.0.0.0
GITLAB_EXTERNAL_URL=http://0.0.0.0
GITLAB_HTTP_PORT=80
GITLAB_SSH_PORT=2222
GITLAB_REGISTRY_PORT=5050
GITLAB_ROOT_PASSWORD=your_secure_password_here

# script/bootstrap-gitlab.sh 용
TOKEN=
PROJECT_ID=
GITLAB_BOT=GITLAB_BOT

# script/register-ci-variables.sh 용
GITHUB_PAT=

VITE_API_BASE_URL=

FRONTEND_HOST=0.0.0.0
FRONTEND_SSH_PORT=
FRONTEND_SSH_KEY_PATH=

EXTERNAL_DB_HOST=0.0.0.0
EXTERNAL_DB_PORT=5432
EXTERNAL_DB_NAME=rush_coupon
EXTERNAL_DB_USER=coupon_user
EXTERNAL_DB_PASSWORD=your_secure_password_here
